<h1>New</h1>
<form method="POST" action="/lies">
  <input type="text" name="statement" placeholder="statement">
  <input type="text" name="truth" placeholder="truth">
  <button>Create</button>
</form>
