<h1>Lie!</h1>
<span class="statement">{{lie.statement}}</span>
<span>{{lie.truth}}</span>
<br>
<a href="/lies/{{lie._id}}/edit">Edit</a>
<form method="POST" action="/lies/{{lie._id}}"><button>Delete</button></form>
